<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            margin: 50px auto;
        }

        .card {
            border: 1px solid #333;
            border-radius: 8px;
            padding: 5px 10px;
        }

        .row {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-3 card mr-2">
                <h3>Card1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto totam, voluptas delectus natus
                    fugiat beatae atque voluptatibus aut.</p>
            </div>
            <div class="col-md-3 card mr-2">
                <h3>Card2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto totam, voluptas delectus natus
                    fugiat beatae atque voluptatibus aut.</p>
            </div>
            <div class="col-md-3 card">
                <h3>Card3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto totam, voluptas delectus natus
                    fugiat beatae atque voluptatibus aut.</p>
            </div>
        </div>

        <div class="row justify-content-md-center my-2">
            <div class="col-md-3 card mr-2">
                <h3>Card3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto totam, voluptas delectus natus
                    fugiat beatae atque voluptatibus aut.</p>
            </div>
            <div class="col-md-3 card">
                <h3>Card3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto totam, voluptas delectus natus
                    fugiat beatae atque voluptatibus aut.</p>
            </div>
        </div>
    </div>
</body>

</html>